/* adding font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding: 0 120px;
}
*{
    margin: 0px;
}

/* Header Section */
.header{
    margin-top: 87px;
    margin-bottom: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-influencer{
    color: #3A3A3A;
}
.header-right ul{
    display: flex;
    gap: 20px;
}
.header-right li{
    color: #3A3A3A;
    list-style: none;
}
#header-influencer{
    font-size: 24px;
    font-weight: 700;
}
/* Camera Section */
.camera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.camera-para{
    margin-bottom: 16px;
    color: #3A3A3A;
}
#camera-text-btn{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
}
#camera-head{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #3A3A3A;
}
.add-camera{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
}